* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@import url("./font.css");

.bg {
  background: #eeeff1;
}

.header {
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
}

.header_container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-transform: uppercase;
}

.header_title {
  font-family: "Revalia-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #34547a;
  text-transform: uppercase;
}

.list_item {
  display: inline-block;
  margin-right: 50px;
}

.list_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.list_item:first-of-type .list_link {
  font-weight: bold;
  color: #34547a;
}

.block-1 {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}

.block-1_item {
  margin-left: 70px;
}

.block-1_title {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}

.fish {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 60px 0;
  color: #727272;
  max-width: 540px;
}

.design__btn {
  background: #34547a;
  width: 225px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 65px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.about {
  padding: 100px 0;
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 50px;
  color: #000000;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 540px;
  margin: 0 auto;
  color: #727272;
}

/* icons */

.icons {
  background: #34547a;
  padding: 50px 20px;
}

.icons__container {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons__container img {
  object-fit: cover;
  width: 140px;
  height: auto;
}

/* skills */

.skills {
  background: #e5e5e5;
  padding: 100px 20px;
}
.skills_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-top: 50px;
  color: #000000;
}

.skills_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_container_item:first-of-type {
  padding: 20px;
  margin-right: 150px;
}

.skills_container_item img {
  object-fit: cover;
  width: 550px;
  height: auto;
}

.skills_stat {
  margin-bottom: 54px;
}

.skills_stat:last-of-type {
  margin-bottom: 0px;
}

.skills_subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.skills_stat_outeritem {
  margin-top: 20px;
  height: 4px;
  position: relative;
  width: 450px;
  background-color: #c4c4c4;
  z-index: 1;
}

.skills_stat_inneritem {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 85%;
  background-color: #34547a;
}

/* video */

.video {
  padding: 100px 20px;
  background-color: #eeeff1;
}

.video_container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.video_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  max-width: 540px;
  color: #727272;
  margin: 50px auto 57px;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.grid_item {
  position: relative;
}

.grid_item_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.eye {
  object-fit: cover;
  width: 100px !important;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* icons bg */

.icons_bg {
  background-color: #fff !important;
}

.icons_bg img {
  width: 255px;
  height: auto;
}

/* contacts */

.contacts {
  background-color: #eeeff1;
  padding: 100px 20px;
}

.contacts_container {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.contacts_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 540px;
  margin: 50px auto 65px;
  color: #727272;
}

/* form */

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form_item input {
  background-color: #ffffff;
  width: 255px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}

.form_item input:last-of-type {
  margin-right: 0;
}

.form_item input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
}

.form textarea {
  background: #ffffff;
  width: 540px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 20px 20px 0;
  font-size: 16px;
  color: #5f5d5d;
  resize: none;
}

.form_btn {
  background-color: #34547a;
  width: 190px;
  line-height: 55px;
  border: none;
  margin-top: 50px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #fff;
  cursor: pointer;
  outline: none;
}

/* footer */

.footer {
  background-color: #34547a;
  padding: 50px 20px;
}

.footer_container {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.footer_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

.footer_list li {
  display: inline-block;
  list-style-type: none;
  margin-right: 21px;
}

.footer_list li:last-of-type {
  margin-right: 0;
}

/* 900 */

@media (max-width: 900px) {
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}


@media  (max-width: 1200px){
  
  .header_container {
    width: auto;
    /* box-sizing: border-box; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header_title{
    padding-bottom: 20px;
  }

  .skills_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills_container_item img{
    padding: 30px 0;
  }
}

@media (max-width: 1030px){

  .icons__container{
  justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  .iframe_video{
    width: calc(100vw);
    height: calc(56.25vw);
  }
}

@media (max-width:900px){
  .block-1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .block-1_item{
    padding-top: 30px;
    text-align: center;
  }

  .icons__container img{
    padding: 0 5px 20px 30px;
  }
}
 
@media(max-width: 760px){
  .list_item{
    display: block;
    margin: 5px 0;
    text-align: center;
  }

  .block-1{
    justify-content: center;
    align-items: center;
  }
  .about {
    padding: 40px 20px;
  }

  .about_title{
    margin: 25px 0;
  }

  .about_text{
    max-width: 70%;
    padding: 10px 0;
  }

  .skills{
    padding-top: 10px;
  }

  .skills_container{
    align-items: center;  
  }
  .skills_container_item{
    width: 80%;
  }

  .skills_container_item img{
    width: 300px;
  }

  .video_container{
    padding: 20px 20px;
  }

  .video_play{
    width: 450px;
    height: auto;
  }

  .contacts_text{
    max-width: 70%;
  }

  .form_item input {
    width: 50%;
  }

  .form textarea{
    max-width: 98%;
  }

  .footer_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_list{
    padding-top: 25px;
  }

}
/* @media (max-width: 1000px) {
  .skills_container_item img{
    width: 350px;
    height: auto; 
  }
}


@media (min-width: 700px) and (max-width: 900px) {
    
  .list_item{
      display: block;
  margin: 5px 0;
  text-align: center;
  }

  .icons__container img{
    display: flex;
    flex-direction: column;
  }

  .block-1_item{
    display: flex;
    flex-direction: column;
  }

  .skills_container_item img{
    width: 250px;
    height: auto;   
    display: flex;
    flex-direction: column;
  }
  
  .video_play{
    object-fit: cover;
    width: 750px;
    height: 450px;
  }
  
  .icons__container img{
    width: 120px;
    height: auto;
  }

  .icons__container:last-of-type{
    margin-right: 0;
  }
} */